<div data-role="page" data-transition="slide">
	<!-- ko compose: 'panel.left.html'--><!--/ko-->

	<div data-role="header" data-position="fixed" class="wow fadeIn">
		<h1 class="wow fadeIn" data-wow-delay='0.4s'>Buttons</h1>
	</div>

	<div role="main" class="ui-content wow fadeIn" data-wow-delay="0.2s"  data-inset="false">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="box">
					<a data-bind="click: navto" class="ui-btn ui-btn-raised clr-primary">Go to home</a>
				</div>
			</div>
		</div>
	</div>	

</div>