<div data-role="page" data-transition="slide">
	<!-- k compose: 'panel.left.html' --><!--/k-->


	<div data-role="panel" id="bottomsheet" data-animate="false" data-position='bottom' data-display="overlay">
		<!-- ko compose: 'bottom.sheet.html'--><!--/ko-->		
	</div>

	<div data-role="header" data-position="fixed" class="wow fadeIn" style="min-height: 114px; position:fixed; z-index:2; top:0; left:0; width:100%; padding:0;">
		    
			<h1 class="wow" data-wow-delay='0.4s'>Search</h1>
			
			<a data-bind="click: openPopup" data-rel="popup" id="optionButton" class="ui-btn ui-btn-right wow" data-wow-delay='1.2s'><i class="zmdi zmdi-more-vert"></i></a>
			<div data-role="popup" id="popupMenu2" data-overlay-theme="none">
				<ul data-role="listview" data-inset="true" style="min-width:210px;">
					<li><a href="#">My Profile</a></li>
					<li><a href="#">Settings</a></li>
					<li><a href="#">Exit</a></li>
				</ul>
			</div>

			<!-- <a data-bind="click: bottompanelToggle" class="ui-btn ui-btn-right wow" data-wow-delay='1.2s'><i  class="zmdi zmdi-more-vert"></i></a> -->
			<ul data-role="nd2tabs" data-swipe="true" style="margin-left: 30px;">
				<li data-tab="work" data-tab-active="true" class="zmdi zmdi-home nd2Tabs-active" style="font-size:20px; color:inherit;"></li>
				<li data-tab="offers" class="zmdi zmdi-favorite" style="font-size:20px; color:inherit;"></li>
				<li data-tab="notifications" class="zmdi zmdi-notifications" style="font-size:20px; color:inherit;"></li>
			</ul>
	</div>

	<div role="main" class="ui-content wow fadeIn" data-wow-delay="0.2s"  data-inset="false">



		<div data-role="nd2tab" data-tab="work" >
			<div class="row">
				<div class="col-xs">
					<div class="box">
						work
						<a data-bind="click: navto" class="ui-btn ui-btn-raised clr-primary">Go to home</a>
					</div>
				</div>
			</div>

			<div class="row center-xs center-sm center-md center-lg around-xs around-sm around-md around-lg">
				<div class="cell">
						work
						<a data-bind="click: navto" class="ui-btn ui-btn-raised clr-primary">Go to home</a>
					
				</div>
			</div>

			<div class="row center-xs center-sm center-md center-lg around-xs around-sm around-md around-lg" style="padding-left:5px; padding-right:5px;">
				<div class="cell">
					<div class="nd2-card">

							<div class="card-media">
								<img src="/img/examples/card_bg_3.jpg">
							</div>

							<div class="card-action">
								<div class="row between-xs">
									<div class="col-xs-12 align-right">
										<div class="box">
											<a href="#" class="ui-btn ui-btn-inline ui-btn-fab"><i class='zmdi zmdi-favorite'></i></a>
											<a href="#" class="ui-btn ui-btn-inline ui-btn-fab"><i class='zmdi zmdi-bookmark'></i></a>
											<a href="#" class="ui-btn ui-btn-inline ui-btn-fab"><i class='zmdi zmdi-mail-reply zmd-flip-horizontal'></i></a>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>

				<div class="cell">
					<div class="nd2-card">

							<div class="card-media">
								<img src="/img/examples/card_bg_3.jpg">
							</div>

							<div class="card-action">
								<div class="row between-xs">
									<div class="col-xs-12 align-right">
										<div class="box">
											<a href="#" class="ui-btn ui-btn-inline ui-btn-fab"><i class='zmdi zmdi-favorite'></i></a>
											<a href="#" class="ui-btn ui-btn-inline ui-btn-fab"><i class='zmdi zmdi-bookmark'></i></a>
											<a href="#" class="ui-btn ui-btn-inline ui-btn-fab"><i class='zmdi zmdi-mail-reply zmd-flip-horizontal'></i></a>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
				
				<div class="cell">
					<div class="nd2-card">

							<div class="card-media">
								<img src="/img/examples/card_bg_3.jpg">
							</div>

							<div class="card-action">
								<div class="row between-xs">
									<div class="col-xs-12 align-right">
										<div class="box">
											<a href="#" class="ui-btn ui-btn-inline ui-btn-fab"><i class='zmdi zmdi-favorite'></i></a>
											<a href="#" class="ui-btn ui-btn-inline ui-btn-fab"><i class='zmdi zmdi-bookmark'></i></a>
											<a href="#" class="ui-btn ui-btn-inline ui-btn-fab"><i class='zmdi zmdi-mail-reply zmd-flip-horizontal'></i></a>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
				
				<div class="cell">
					<div class="nd2-card">

							<div class="card-media">
								<img src="/img/examples/card_bg_3.jpg">
							</div>

							<div class="card-action">
								<div class="row between-xs">
									<div class="col-xs-12 align-right">
										<div class="box">
											<a href="#" class="ui-btn ui-btn-inline ui-btn-fab"><i class='zmdi zmdi-favorite'></i></a>
											<a href="#" class="ui-btn ui-btn-inline ui-btn-fab"><i class='zmdi zmdi-bookmark'></i></a>
											<a href="#" class="ui-btn ui-btn-inline ui-btn-fab"><i class='zmdi zmdi-mail-reply zmd-flip-horizontal'></i></a>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div data-role="nd2tab" data-tab="offers">
			<ul data-role="listview" data-icon="false">
				<li data-role="list-divider">
					offers
					<a data-bind="click: navto" class="ui-btn ui-btn-raised clr-primary">Go to home</a>
				</li>
			</ul>

			<div class="nd2-card">

					<div class="card-title has-avatar">
						<img class="card-avatar" src="//lorempixel.com/200/200/people/9/">
						<h3 class="card-primary-title">Power of Lavender</h3>
						<h5 class="card-subtitle">Taken in Provence, France</h5>
					</div>

					<div class="card-media">
						<img src="/img/examples/card_bg_2.jpg">
					</div>

					<div class="card-supporting-text has-action">
						<strong>Lavandula</strong> (common name lavender) is a genus of 39 known species of flowering plants in the mint family, Lamiaceae. It is native to the Old World and is found from Cape Verde and the Canary Islands, southern Europe across to northern and eastern Africa, the Mediterranean, southwest Asia to southeast India.
					</div>

					<div class="card-action">
						<div class="row between-xs">
							<div class="col-xs-5">
								<div class="box">
									<a href="#" class="ui-btn ui-btn-inline ui-btn-fab"><i class='zmdi zmdi-mic'></i></a>
									<a href="#" class="ui-btn ui-btn-inline ui-btn-fab"><i class='zmdi zmdi-videocam'></i></a>
								</div>
							</div>
							<div class="col-xs-7 align-right">
								<div class="box">
									<a href="#" class="ui-btn ui-btn-inline">Action</a>
								</div>
							</div>
						</div>
					</div>

			</div>
		</div>
		<div data-role="nd2tab" data-tab="notifications" >
			notifications
		</div>
	</div>	

	<div data-role="footer" data-position="fixed" style="position:fixed; 
    z-index:2;
    bottom:0; left:0;
    width:100%;
    padding:0;">

		<div class="row center-xs">
			<div class="col-xs-6">
				<div class="box">
					<a href="#additem" class="ui-btn ui-mini nd2-btn-icon-block"><i class='zmdi zmdi-plus'></i> add item</a>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="box">
					<a href="#myitems" class="ui-btn ui-mini nd2-btn-icon-block"><i class='zmdi zmdi-minus'></i> my items</a>
				</div>
			</div>
		</div>


	</div>

</div>