<div>
	<div data-role="header" role="banner" class="ui-header ui-bar-inherit">
		<h1 class="ui-title" role="heading" aria-level="1">Rent it now</h1>
		<div id="navbar" data-role="navbar">
			<ul>
				<li><a href="#" data-icon="home"></a></li>
				<li><a href="#" data-icon="search"></a></li>
				<li><a href="#" data-icon="bars"></a></li>
			</ul>
		</div><!-- /navbar -->
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<div class="page-host" data-bind="router: { transition:'entrance'}"></div>
	</div>

	<div data-role="footer">
	</div>
</div><!-- /page -->